<html>
    
    <head>
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This data is collected from api weatherstack and mapbox</p>
            <img class="portrait" src="/img/hemant.jpg">
        </div>
        
        {{>footer}}
    </body>
</html>